<app-header titulo="card"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-item color="primary">
              <ion-label>Marcador</ion-label>
          </ion-item>

          <ion-card-content>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum totam neque, quos unde excepturi corporis asperiores velit soluta fugiat quia in tempore harum numquam dolor voluptatem deleniti quae culpa veniam.
          </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-img src="https://s3.amazonaws.com/turismorocha/atractivos/24/med/puente-laguna-garzon-031398400-1454011397.jpg"></ion-img>
          <ion-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum totam neque, quos unde excepturi corporis asperiores velit soluta fugiat quia in tempore harum numquam dolor voluptatem deleniti quae culpa veniam.
        </ion-card-content>
      </ion-card>
</ion-content>
